


@import '/node_modules/bootstrap/dist/css/bootstrap.css';

@import '/node_modules/@fontsource-variable/raleway/index.css';


.customContainer{

  width: 1020px;
  margin:auto;
  

}

.customContainerBig{
  width: 1610px;
  margin: auto;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway Variable', sans-serif;
  


}
a{
  
  text-decoration: none;
  
}

