
@use './variables.scss' as *;

.customContainer{

  width: 1020px;
  margin:auto

}

.customContainerBig{
  width: 1620px;
  margin: auto;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}