//color cube

$white: #fff;
$river_bed: #46525f;
$pelorous: #39afbb;
$french_gray:#bcbcbd;
$contessa:#bd7a69;
$thunderbird:#cc201f;

//median cut

$gallery:#f1efef;
$mako:#41474f;
$pelorous_sec:#449ebf;
$raven:#7c858f;
$cascade:#88acab;

//material design


$pelorous_thi:#3ba5bd;
$pine_cone:#655850;
$firefly:#0f1d2d;
$limed_spruce:#3d4954;
$contessa_sec:#c46e5f;




.customContainer{

  width: 900px;
  margin:auto



}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}